.world {
  // --cadence: 170;
}

$color: rgb(240, 240, 240);
$stick-color: hsl(0, 0, 20);
$speed: 4; // 4.00 min / 1km @todo
$manspeed_1: calc(120/var(--cadence) * 1s); // 1s === 120 bpm
$manspeed_2: calc(#{$manspeed_1} / 2);

// body {
//   background: $color;
//   font-family: sans-serif;
//   width: 100vw;
//   height: 100vh;
//   perspective: 600px;
// }
  

// World 
.world {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  top: 50%;
  overflow: hidden;
  box-shadow: 0 16px 10px -10px #f4f0ff;

  div {
    position: absolute;
    box-sizing: border-box;
    
    border-radius: 2px;
    
    &::before, 
    &::after {
      content: '';
      position: absolute;
      box-sizing: border-box;
    }
  }
}

// Back
.back {
  bottom: 0;
  right: -200px;
  background: darken($color, 5%);
  
  
  &.one {
    width: 200px;
    height: 15%;
    animation: elem 20.8s linear infinite;
  }

  &.two {
    width: 20px;
    height: 16%;
    animation: elem 26.4s linear infinite 4s;
  }

  &.three {
    width: 20px;
    height: 44%;
    animation: elem 17.6s linear infinite 4s;
  }
  
  &.four {
    width: 48px;
    height: 15%;
    animation: elem 22.4s linear infinite 1.6s;
  }
}

    
// Floor & grass
.floor {
  width: 100%;
  height: 4px;
  bottom: 0;

  .rock {
    bottom: 0;
    right: -20px;
    background: $stick-color;

    &.one {
      width: 16px;
      height: 26px;
      animation: elem 18s linear infinite;
    }

    &.two {
      width: 20px;
      height: 18px;
      animation: elem 18s linear infinite 3s;
    }

    &.three  {
      width: 13px;
      height: 6px;
      animation: elem 16s linear infinite 2.6s;
    }
  }

  .grass {
    width: 2px;
    bottom: 0;
    right: -2px;
    background: $stick-color;

    &.one {
      height: 15px;
      animation: elem 12s linear infinite;
    }

    &.two {
      height: 10px;
      animation: elem 13.2s linear infinite 0.4s;
    }

    &.three {
      height: 18px;
      animation: elem 10s linear infinite 0.8s;
    }

    &.four {
      height: 5px;
      animation: elem 13.8s linear infinite 1.2s;
    }

    &.five {
      height: 7px;
      animation: elem 12s linear infinite 2.6s;
    }

    &.six {
      height: 10px;
      animation: elem 12.2s linear infinite 2s;
    }

    &.seven {
      height: 4px;
      animation: elem 12s linear infinite 2.4s;
    }

    &.height {
      height: 7px;
      animation: elem 14s linear infinite 3.8s;
    }

    &.nine {
      height: 10px;
      animation: elem 12.2s linear infinite 3.2s;
    }

    &.ten {
      height: 6px;
      animation: elem 12s linear infinite 6.2s;
    }
  }
}
  
 
// Cloud 
.cloud {
  height: 20px;
  right: -160px;
  background: rgba(206, 206, 206, 0.3);

  &::before,
  &::after {
    background: hsla(0, 0, 100, 0.3) !important;
  }

  &::before {
    width: 80%;
    height: 50%;
    bottom: -25%;
    left: -20%;
  }

  &::after {
    width: 60%;
    height: 30%;
    top: -15%;
    right: -10%;
  }

  &.one {
    width: 100px;
    top: 60px;
    animation: cloud 18s linear infinite;
  }

  &.two {
    width: 80px;
    top: 20px;
    animation: cloud 25.6s linear infinite 2.4s;
  }

  &.three {
    width: 40px;
    top: 10px;
    animation: cloud 19.2s linear infinite 5s;
  }
}


  

// Stickman
.stick {
  width: 6px;
  height: 25px;
  bottom: 30px;
  left: 50%;
  background: $stick-color;
  border-radius: 3px;
  animation: stick 3s ease-in-out infinite;

  div {
    background: $stick-color;
    transform-origin: 50% 0%;

    .left {
      z-index: -1;
    }
  
    .right {
      z-index: 1;
    }
  }

  .head {
    width: 12px;
    height: 12px;
    background: $stick-color;
    border-radius: 50%;
    transform: translate(-3px, -14px);
  }

  .arm {
    width: 4px;
    height: 14px;
    top: 1px;
    left: 1px;

    .bottom {
      width: 4px;
      height: 12px;
      bottom: -10px;
    }
  }

  .leg {
    width: 4px;
    height: 20px;
    bottom: -19px;
    left: 1px;

    .bottom {
      width: 4px;
      height: 15px;
      bottom: -13px;
    }
  }


  // Stickman arms/legs animations
  .arm.left {
    animation: run $manspeed_1 linear infinite;

    .bottom {
      animation: arm-bottom $manspeed_2 linear infinite
    }
  }

  .arm.right {
    animation: run $manspeed_1 linear infinite $manspeed_2;

    .bottom {
      animation: arm-bottom $manspeed_2 linear infinite $manspeed_1;
    }
      
  }

  .leg.left {
    animation: run $manspeed_1 linear infinite;

    .bottom {
      animation: leg-bottom $manspeed_1 linear infinite;
    }
  }

  .leg.right {
    animation: run $manspeed_1 linear infinite $manspeed_2;

    .bottom {
      animation: leg-bottom $manspeed_1 linear infinite $manspeed_2;
    }
  }
}
    
// Keyframes
@keyframes cloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100vw - 200%));
  }
}


@keyframes elem {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-110vw - 200%));
  }
}


@keyframes stick {
  0%, 100% {
    transform: translateX(0px) rotate(0.02turn);
  }
  30% {
    transform: translateX(0px) rotate(0.02turn);
  }
  70% {
    transform: translateX(10px) rotate(0.02turn);
  }
}


@keyframes run {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(-60deg);
  }
}


@keyframes arm-bottom {
  0%, 100% {
    transform: rotate(-50deg);
  } 
  50% {
    transform: rotate(-120deg);
  }
}

  
@keyframes leg-bottom {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(120deg);
  }
}

    
    